{% extends 'story_4/base.html' %}
{% block extra_headers %}
<!-- Custom CSS  -->
<link rel="stylesheet" href="/static/story_3/main.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">

<!-- Title block  -->
<title>{% block title %}{% endblock %}</title>
{% endblock %}
{% block story_4_container %}
<body>
  <div class='mobile-nav d-flex justify-content-center'>
    <div class='link-container d-flex justify-content-center align-items-center'>
      {% block mobile_sidebar %}{% endblock %}
    </div>
  </div>

  <div class="main-container">
    <div class="scroll-container">
      <div class="sidebar d-none d-lg-block">
        {% block sidebar %}{% endblock %}
      </div>
      <div class='content'>
        {% block content %}{% endblock %}
      </div>
      <div class="footer d-flex flex-column justify-content-between">
        <div class="media-sosial">
          <h1>Media Sosial</h1>
          <div class="media-sosial-item">
            <img src="{{ line_icon }}" alt="">
            <h2>audahaudah</h2>
          </div>
          <div class="media-sosial-item">
            <img src="{{ ig_icon }}" alt="">
            <h2>@audah</h2>
          </div>
          <div class="media-sosial-item">
            <img src="{{ gmail_icon }}" alt="">
            <h2>hanif.arkan@ui.ac.id</h2>
          </div>
        </div>
        <h1 class="credit">Hanif Arkan Audah©2020</h1>
      </div>
    </div>
  </div>
</body>
{% endblock %}
{% block story_4_script %}
{% block script %}{% endblock %}
{% endblock %}