{% extends 'story_3/base.html' %}
{% block title %}
  Profil
{% endblock %}
{% block mobile_sidebar %}
<div class="sidebar-item-mobile">Tentang Saya</div>
<div class="sidebar-item-mobile">Pengalaman</div>
<div class="sidebar-item-mobile">Riwayat Pendidikan</div>
<div class="sidebar-item-mobile">Peminatan</div>
{% endblock %}
{% block sidebar %}
<div class="sidebar-item">Tentang Saya</div>
<div class="sidebar-item">Pengalaman</div>
<div class="sidebar-item">Riwayat Pendidikan</div>
<div class="sidebar-item">Peminatan</div>
{% endblock %}
{% block content %}
  <div id="profile-container">
    <div class="title-container">
      <h1 id='tentang-saya' class="title">Profil</h1>
      <div class="underline"></div>
    </div>
    <!-- General Info  -->
    <div class="general-info d-flex flex-column justify-content-between">
      <div class="img-container">
        <img src="{{ pic_path }}" alt="">
        <div class="img-accent"></div>
      </div>
      <div class="deskripsi d-flex flex-column justify-content-end">
        <h1>Hanif Arkan Audah</h1>
        <p>Saya merupakan mahasiswa Universitas Indonesia yang sedang mengambil jurusan ilmu komputer di Fakultas Ilmu Komputer. Sekarang saya sedang mengembangkan kemampuan saya dalam pengembangan web.</p>
      </div>
    </div>

    <!-- Pengalaman -->
    <div class="section-title d-flex align-items-end">
      <div class="sideline"></div>
      <h1 id='pengalaman'>Pengalaman</h1>
    </div>
    <div class="info-card d-flex">
      <div class="sideline">
        <div class="sideline-top"></div>
        <div class="sideline-bottom"></div>
      </div>
      <div class="info-content">
        <h1>Staff BEM Fasilkom UI</h1>
        <h2>February 2020 - Sekarang</h2>
        <small>Organisasi</small>
      </div>
    </div>
    <div class="info-card d-flex">
      <div class="sideline">
        <div class="sideline-top"></div>
        <div class="sideline-bottom"></div>
      </div>
      <div class="info-content">
        <h1>Staff Compfest</h1>
        <h2>February 2020 - October 2020</h2>
      </div>
    </div>

    <!-- Riwayat Pendidikan -->
    <div class="section-title d-flex align-items-end">
      <div class="sideline"></div>
      <h1 id='riwayat-pendidikan'>Riwayat Pendidikan</h1>
    </div>
    <div class="info-card d-flex">
      <div class="sideline">
        <div class="sideline-top"></div>
        <div class="sideline-bottom"></div>
      </div>
      <div class="info-content">
        <h1>Fakultas Ilmu Komputer Universitas Indonesia</h1>
        <h2>September 2019 - Sekarang</h2>
      </div>
    </div>
    <div class="info-card d-flex">
      <div class="sideline">
        <div class="sideline-top"></div>
        <div class="sideline-bottom"></div>
      </div>
      <div class="info-content">
        <h1>SMA Negeri 34 Jakarta</h1>
        <h2>Juli 2016 - Mei 2019</h2>
      </div>
    </div>
    <div class="info-card d-flex">
      <div class="sideline">
        <div class="sideline-top"></div>
        <div class="sideline-bottom"></div>
      </div>
      <div class="info-content">
        <h1>SMP Negeri 8 Tangerang Selatan</h1>
        <h2>Juli 2013 - Mei 2016</h2>
      </div>
    </div>

    <!-- Peminatan -->
    <div class="section-title d-flex align-items-end">
      <div class="sideline"></div>
      <h1 id='peminatan'>Peminatan</h1>
    </div>
  </div>

  <div class="d-flex flex-wrap">
    <div class="peminatan-item"><h4>Web Development</h4></div>
    <div class="peminatan-item"><h4>Software Engineering</h4></div>
    <div class="peminatan-item"><h4>Software Development</h4></div>
    <div class="peminatan-item"><h4>Mobile Development</h4></div>
  </div>
</div>

{% endblock %}
{% block script %}
<script defer>
  const buttonTargets = [
  'tentang-saya',
  'pengalaman',
  'riwayat-pendidikan',
  'peminatan'
  ]

  const buttons = document.querySelectorAll('.sidebar-item')
  const mobileButtons = document.querySelectorAll('.sidebar-item-mobile')

  for (let i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', () => {
      document.getElementById(buttonTargets[i]).scrollIntoView({ behavior: 'instant', block: 'center' });
    })
    mobileButtons[i].addEventListener('click', () => {
      document.getElementById(buttonTargets[i]).scrollIntoView({ behavior: 'instant', block: 'center' });
    })
  }

  const getSmallestIndex = arr => {
    let minIndex = 0;
    for (let i = 1; i < arr.length; i++) {
      if (arr[i] >= 0 && arr[i] < arr[minIndex]) {
        let minIndex = i;
      }
    }
  }

  const disableAll = () => {
    for (let i = 0; i< buttons.length; i++) {
      buttons[i].classList.remove('active')
      mobileButtons[i].classList.remove('active')
    }
  }

  // Initialize sidebar state
  buttons[0].classList.add('active')
  mobileButtons[0].classList.add('active')

  // Sidebar logic
  document.querySelector('.main-container').addEventListener('scroll', () => {
    if (document.getElementById(buttonTargets[0]).getBoundingClientRect().top >= 0) {
      disableAll()
      buttons[0].classList.add('active')
      mobileButtons[0].classList.add('active')
    } else if (document.getElementById(buttonTargets[1]).getBoundingClientRect().top >= 0) {
      disableAll()
      buttons[1].classList.add('active')
      mobileButtons[1].classList.add('active')
    } else if (document.getElementById(buttonTargets[2]).getBoundingClientRect().top >= 0) {
      disableAll()
      buttons[2].classList.add('active')
      mobileButtons[2].classList.add('active')
    } else if (document.getElementById(buttonTargets[3]).getBoundingClientRect().top >= 0) {
      disableAll()
      buttons[3].classList.add('active')
      mobileButtons[3].classList.add('active')
    }
  })
</script>
{% endblock %}