{% extends 'story_4/base.html' %}
{% block story_4_container %}
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">Dalam story 4 ini saya menggabungkan story 1 dan story 2 dalam satu project django</p>
    <hr class="my-4">
    <p>Kedua story sebelumnya dapat diakses melalui tautan berikut</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/story-1/" role="button">Kunjungi Story 1</a>
      <a class="btn btn-primary btn-lg" href="/story-3/" role="button">Kunjungi Story 3</a>
    </p>
  </div>
</main>
{% endblock %}