html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

body, body * {
  font-family: Source Sans Pro;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Nav */
/* nav {
  background: #0049B8;
  height: 3em;
  width: 100vw;
  padding: 0 2em;
  position: fixed;
  z-index: 100;
} */

.brand {
  color: white;
}

.links {
  margin-left: 1.5em;
  height: 100%;
}

.brand {
  height: 100%;
}

.brand h1 {
  font-size: 1.5em;
  font-weight: 700;
}

/* .nav-item {
  font-weight: 600;
  color: white;
  height: 100%;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nav-item.active, .nav-item:hover {
  color: #333333;
  background: #F9C80E;
  height: 100%;
  text-decoration: none;
} */

/* sidebar */
.mobile-nav {
  margin-top:3em;
  border-bottom: 2px solid #F9C80E;
  padding: .5em 0;
  width: 100vw;
  overflow-x: scroll;
  position: fixed;
  background: white;
  z-index: 100;
  display: none !important;
}

.mobile-nav .link-container {
  width: max-content;
  padding: 0 4em;
  box-sizing: border-box;
}

.sidebar-item-mobile {
  color: #333333;
  font-weight: normal;
  margin: 0 .5em;
  font-size: 1.2em;
  opacity: .4;
  white-space: nowrap;
}

.sidebar-item-mobile.active {
  opacity: 1;
  font-weight: 700;
}

.mobile-nav::-webkit-scrollbar {
  display: none;
}

.sidebar {
  width: 20em;
  padding: 2em;
  height: max-content;
  box-sizing: border-box;
  position: fixed;
  top: 4em;
  left: 1em;
}

.sidebar-item {
  border-left: 4px solid rgba(0, 0, 0, 0);
  color: #333333;
  font-weight: normal;
  margin: .5em 0;
  font-size: 1.2em;
  padding-left: .5em;
  opacity: .4;
  white-space: nowrap;
}

.sidebar-item.active {
  opacity: 1;
  font-weight: 700;
  border-color: #F9C80E;
}

/* Content */
.main-container {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 3em;
}

.scroll-container {
  height: max-content;
  width: 100%;
}

.content {
  width: 100%;
  padding: 2em 0 0 16em;
  box-sizing: border-box;
  margin-top: 4em;
}

.title {
  font-weight: 700;
  color: #333333;
}

.title-container {
  width: min-content;
}

.underline {
  background: #FBDE74;
  height: 5px;
  width: 100%;
}

/* Profil */
#profile-container {
  width: 60em;
}

.general-info {
  margin-top: 2em;
}

.general-info .img-container {
  position: relative;
  margin-left: 4em;
}

.general-info .img-container .img-accent {
  position: absolute;
  background: #0049B8;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.general-info img {
  position: absolute;
  border-radius: 50%;
  width: 15em;
  z-index: 20;
}

.general-info .deskripsi {
  background: #FBFBFB;
  border: 1px solid #BDBDBD;
  border-radius: .5em;
  height: 15em;
  padding: 1em;
  margin-top: 7.5em;
}

.general-info .deskripsi h1 {
  font-weight: 600;
  color: #333333;
  font-size: 1.5em;
}

.general-info .deskripsi p {
  color: #4F4F4F;
}

.section-title {
  width: min-content;
  margin: 2em 0;
}

.section-title .sideline {
  background: #F9C80E;
  height: 2.5em;
  width: 4px;
  margin-right: .5em;
}

.section-title h1 {
  font-size: 2em;
  font-weight: 600;
  color: #333333;
  width: max-content;
}

.info-card {
  width: 100%;
  height: 8em;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/* .info-card .info-content {
  height: max-content;
} */

.info-card .sideline {
  width: 4px;
  height: 100%;
}

.info-card .sideline .sideline-top {
  background: #0049B8;
  width: 100%;
  height: 80%;
}

.info-card .sideline .sideline-bottom {
  background: #F9C80E;
  width: 100%;
  height: 20%;
}

.info-card .info-content {
  padding: 1em;
}

.info-card .info-content h1 {
  font-size: 2.5em;
  font-weight: normal;
}

.info-card .info-content h2 {
  font-size: 1em;
  font-weight: 400;
}

.info-card .info-content small {
  font-size: 1em;
  font-weight: 400;
}

/* Peminatan */
.peminatan-item {
  background: #0049B8;
  border-radius: 2em;
  padding: 1em 2em;
  margin: .5em;
}

.peminatan-item h4 {
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

/* Footer */
.footer {
  width: 100vw;
  height: 20em;
  background: #F9C80E;
  color: #333333;
  margin-top: 4em;
  padding: 2em 4em;
  padding-bottom: 5em;
  position: relative;
  box-sizing: border-box;
}

.footer .credit {
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 1.5em;
  font-weight: 700;
}

.footer .media-sosial h1 {
  font-weight: 700;
  font-size: 2em;
}

.footer .media-sosial-item {
  display: flex;
  margin: 1em 0;
}

.footer .media-sosial-item h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.footer img {
  height: 2em;
  width: auto;
  margin-right: 1em;
}

/* Blog */
#blog-container {
  width: 60em;
}

.card h5 {
  font-weight: 600;
}

.message-item {
  word-break: break-all;
}

@media (max-width: 320px) {
  #profile-container, #blog-container {
    font-size: .8em;
  }
}

@media (max-width: 500px) {
  .main-container::-webkit-scrollbar {
    display: none;
  }

  .general-info .img-container {
    margin: 0;
    font-size: .5em;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0 1em;
  }

  .general-info .deskripsi {
    margin-top: 10em;
  }

  .info-content {
    height: 10em;
  }

  .info-card .info-content h1 {
    font-size: 1.5em;
  }

  .footer {
    font-size: .8em;
    padding: 2em;
  }
}

@media (max-width: 1250px) {
  .mobile-nav {
    display: block !important;
  }

  .content {
    margin-top: 10em;
    padding: 0 2em;
  }

  #profile-container, #blog-container {
    width: 100%;
  }

  .sidebar {
    display: none !important;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 1.3em;
  }
}