html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body * {
  font-family: Lato;
}

main {
  margin-top: 3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.mobile-profile {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 82, 163, 1);
  width: 15em;
  height: 100vh;
  padding: 1em;
}

.sidebar img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.sidebar table {
  color: white;
  margin-top: 2em;
}

.content {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.content .card-header {
  padding: 1em 2em;
}

.content h1 {
  font-weight: bolder;
}

.content .list {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.content-body {
  height: 100%;
}

.list-content {
  margin-top: 3em;
  padding: 1em 2em;
}

.card {
  margin: 1em 0;
}

.card .card-header, .card-body {
  padding: 1em;
}

.card h2 {
  font-size: 1.5em;
}

.list-group {
  width: 15em;
}

.list-group-item {
  width: 100%;
  border-radius: 0 !important;
}

.list-group-item:last-child {
  background: rgba(0, 82, 163, .5);
  color: white;
}

.footer {
  display: flex;
  background: rgba(0,0,0,.03);
  padding: 2em 3em;
  padding-bottom: 4em;
}

.footer-title {
  font-weight: 400;
  font-size: 1.3em;
}

.footer .social-media {}

.footer .social-media-item {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.footer .social-media-item img {
  width: 1.5em;
  height: auto;
  margin-right: 1em;
}

.footer .social-media-item h1 {
  font-weight: normal;
  font-size: 1em;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .mobile-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-profile img {
    margin: 2em 0;
    width: 10em;
  }
}

@media (max-width: 768px) {
  .list-group {
    display: none;
  }
}